body {
    height: 100vh;
    font-size: 20px;
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .box-title {
    width: 100%;
    text-align: center;
}

.title {
    color: white;
}

.box {
    width: 20rem;
    background-color: white;
    padding: 40px 20px;
    box-sizing: border-box;
    box-shadow: 10px rgba(2, 2, 2, 0.575);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
}

.campo_form {
    margin-bottom: 10px;
}

button {
    padding: 10px 10px;
    background-color: blueviolet;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: darkslateblue;
}


.box-picture {
    width: 60%;
    border-radius: 50%;
}

#resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#foto{ 
    width: 250px;  
    height: 250px;
    border-radius: 50%;
    margin-top: 10px;
}