body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.semaforo {
    display: flex;
    justify-content: center;
}

.semaforo img {
    width: 10rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons button {
    padding: 10px 10px;
    margin-right: 5px;
}